# dependencies
/node_modules/
.pnp
.pnp.*

# build output
.next/
out/
dist/
build/

# local databases
prisma/dev.db

# environment files
.env
.env.local
.env.*

# system files
.DS_Store
Thumbs.db

# logs
*.log

# generated folders
/app/generated/

